@import "tailwindcss";

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("/src/assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}
@theme {
  --color-marine-blue: oklch(29.057% 0.09465 256.147);
  --color-purplish-blue: oklch(51.898% 0.2704 273.841);
  --color-pastel-blue: oklch(81.206% 0.09413 272.848);
  --color-light-blue: oklch(89.63% 0.05249 241.442);
  --color-strawberry-red: oklch(62.144% 0.21761 21.371);
  --color-cool-gray: oklch(59.744% 0.03383 277.196);
  --color-light-gray: oklch(88.686% 0.01817 275.599);
  --color-magnolia: oklch(97.122% 0.01375 258.454);
  --color-alabaster: oklch(98.846% 0.00552 274.896);

  --font-family-base: "Ubuntu", sans-serif;
}

body {
  font-size: 1rem;
  font-family: var(--font-family-base);
  background-color: var(--color-magnolia);
}

.background-image {
  background-image: url("/src/assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
