@import "tailwindcss";

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("/src/assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}
@theme {
  --color-marine-blue: hsl(213, 96%, 18%);
  --color-purplish-blue: hsl(243, 100%, 62%);
  --color-pastel-blue: hsl(228, 100%, 84%);
  --color-light-blue: hsl(206, 94%, 87%);
  --color-strawberry-red: hsl(354, 84%, 57%);
  --color-cool-gray: hsl(231, 11%, 63%);
  --color-light-gray: hsl(229, 24%, 87%);
  --color-magnolia: hsl(217, 100%, 97%);
  --color-alabaster: hsl(231, 100%, 99%);

  --font-family-base: "Ubuntu", sans-serif;
}

body {
  font-size: 1rem;
  font-family: var(--font-family-base);
  background-color: var(--color-magnolia);
}

.background-image {
  background-image: url("/src/assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
